@using ViewModels.Dtos
@using Constants
@using System.Timers
@using ViewModels.Queries
@inject MatchingService MatchingService
@inject SmartTypesService SmartTypesService
@inject ReferenceDataService ReferenceDataService
@inject SearchService SearchService

<div class="match-list-all-filters container mt-2">
    <div class="row">
        <Field Class="col-12 col-md-6 col-lg-3">
            <FieldLabel>Filter By Industry:</FieldLabel>
            <Select @bind-SelectedValue="Industry">
                <SelectItem Value="Guid.Empty">Any Matching</SelectItem>
                @foreach (var smartCode in _smartCodes)
                {
                    <SelectItem Value="smartCode.Id" @key="smartCode.Id">@smartCode.Label</SelectItem>
                }
            </Select>
        </Field>
        @if (Type is UserConnectionType.Assisting)
        {
            <Field Class="col-12 col-md-6 col-lg-4">
                <FieldLabel>Filter By Major:</FieldLabel>
                <Select @bind-SelectedValue="Major">
                    <SelectItem Value="Guid.Empty">Any Matching</SelectItem>
                    @foreach (var educationFocus in _educationHistory)
                    {
                        <SelectItem Value="educationFocus.Id" @key="educationFocus.Id">@educationFocus.Name</SelectItem>
                    }
                </Select>
            </Field>
        }
        else
        {
            <Field Class="col-12 col-md-6 col-lg-3">
                <FieldLabel>Filter By Major:</FieldLabel>
                <Select @bind-SelectedValue="Major">
                    <SelectItem Value="Guid.Empty">Any Matching</SelectItem>
                    @foreach (var educationFocus in _educationHistory)
                    {
                        <SelectItem Value="educationFocus.Id" @key="educationFocus.Id">@educationFocus.Name</SelectItem>
                    }
                </Select>
            </Field>
        }
        @if (Type is UserConnectionType.Mentoring)
        {
            <Field Class="col-12 col-md-6 col-lg-2">
                <FieldLabel>Filter By Interests:</FieldLabel>
                <Select @bind-SelectedValue="Interests">
                    <SelectItem Value="Guid.Empty">Any Matching</SelectItem>
                   
                    @foreach (var smartCode in _interestsCodes)
                    {
                        <SelectItem Value="smartCode.Id" @key="smartCode.Id">@smartCode.Label</SelectItem>
                    }
                </Select>
            </Field>
        }
        <Field Class="col-12 col-md-6 col-lg-3">
            <FieldLabel>Sort By:</FieldLabel>
            <Select @bind-SelectedValue="OrderBy">
                <SelectItem Value="@null" TValue="string">Relevance Based on Profile</SelectItem>
                <SelectItem Value=@("FirstName")>First Name</SelectItem>
                <SelectItem Value=@("LastName")>Last Name</SelectItem>
                <SelectItem Value=@("City")>City</SelectItem>
                <SelectItem Value=@("State")>State</SelectItem>
                <SelectItem Value=@("Company")>Company</SelectItem>
            </Select>
        </Field>
         @if (Type is UserConnectionType.Assisting)
         {
             <div style="display:initial ;margin: 32px;
                                                margin-inline:auto">
                 <Button Color="Color.Primary" @onclick="ClearAll" Class="clear-all" style="width: 10em;">Clear All</Button>
             </div>
         }
        @if (Type is UserConnectionType.Assisting)
        {
            <Field Class="col-12">
                <FieldLabel>Filter By Skills:</FieldLabel>
                <div class="d-flex flex-wrap">
                    @if (ActiveProfile.MultiSelections.ContainsKey(SmartTypes.ProfessionalCareerSkills))
                    {
                        @foreach (var smartCode in ActiveProfile.MultiSelections[SmartTypes.ProfessionalCareerSkills])
                        {
                            <div @onclick="@(() => ToggleSkill(smartCode.Id))" class="badge rounded-pill badge-secondary mr-2 mb-2 @(_skills[smartCode.Id] ? "active" : "")">
                                @smartCode.Label
                            </div>
                        }
                    }
                </div>
            </Field>
        }
       @if (Type is UserConnectionType.Mentoring)
       {
           <div style="display:initial ;margin: 32px;
                                  margin-inline: auto">
               <Button Color="Color.Primary" @onclick="ClearAll" Class="clear-all">Clear All</Button>
           </div>
       }
    </div>
</div>

@code {
    [Parameter]
    public UserConnectionType Type { get; set; }

    [CascadingParameter]
    public FullUserProfileDto ActiveProfile { get; set; }

    private IDisposable _sub;
    private Dictionary<Guid, bool> _skills = new();
    private Timer _debounceTimer;
    
    private string _internalSmartType;
    [Parameter]
    public string SmartType { get; set; }

    private List<EducationFocusDto> _educationHistory = new();
    
    private List<SmartCodeDto> _smartCodes = new(); 
    
    private List<SmartCodeDto> _interestsCodes = new();

    public string Filter { get; set; }

    public SearchObjectsQuery QueryData = new();
    
    protected override void OnInitialized()
    {   
        _sub?.Dispose();
        if (_smartCodes?.Count == 0)
        {
            _sub = SmartTypesService[SmartTypes.JobIndustry].Subscribe(smartCodes =>
            {
                _smartCodes = smartCodes;
                StateHasChanged();
            });
        }
        if (_interestsCodes?.Count == 0)
        {
            _sub = SmartTypesService[SmartTypes.Passions].Subscribe(smartCodes =>
            {
                _interestsCodes = smartCodes;
                StateHasChanged();
            });
        }
        ReferenceDataService.GetEducationFocuses();
        ReferenceDataService.EducationFocuses.Subscribe(educationFocuses =>
        {
            _educationHistory = educationFocuses.Select(x => x.Value).ToList();
            StateHasChanged();
        });
        
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (ActiveProfile.ProfileType == ProfileType.Student)
            Filter = Type == UserConnectionType.Mentoring ? "Mentor" : "Connector";
        else
            Filter = "Student";

            _sub?.Dispose();
        SearchService.ResetSearchQuery();
        SearchService.Query.Subscribe(query =>
        {
            QueryData = query;
            QueryData.Type = Type;
            QueryData.SearchText = Filter;
            
        });
      
        SearchService.UpdateSearchQuery(QueryData);
        if (ActiveProfile.MultiSelections.ContainsKey(SmartTypes.ProfessionalCareerSkills))
            _skills = ActiveProfile.MultiSelections[SmartTypes.ProfessionalCareerSkills].ToDictionary(x => x.Id, y => false);
    }

    private void ClearAll()
    {
        OnParametersSet();
        OnInitialized();
    }

    private Guid? Industry
    {
        get => QueryData.Industry ?? Guid.Empty;
        set
        {
            QueryData.Industry = value == Guid.Empty ? null : value;
            QueryData.SearchText = Industry == Guid.Empty ? Filter : _smartCodes.First(x => x.Id == Industry).Label.ToString();
            if (Major != Guid.Empty)
                QueryData.SearchText += _educationHistory.First(x => x.Id == Major).Name.ToString();
            if (QueryData.SearchText.Contains("/"))
                QueryData.SearchText = QueryData.SearchText.Replace("/", " ");
           
            if (_debounceTimer != null)
                return;
            StartTimer();
        }
    }

    private Guid? Major
    {
        get => QueryData.Major ?? Guid.Empty;
        set
        {
            QueryData.Major = value == Guid.Empty ? null : value;
            QueryData.SearchText = Major == Guid.Empty ? Filter : _educationHistory.First(x => x.Id == Major).Name.ToString();
            if (Industry != Guid.Empty)
                QueryData.SearchText += _smartCodes.First(x => x.Id == Industry).Label.ToString();
            
            if (_debounceTimer != null)
                return;
            StartTimer();
        }
    }

    private string OrderBy
    {
        get => QueryData.OrderBy;
        set
        {
            QueryData.OrderBy = value;
            QueryData.SearchText = OrderBy == string.Empty ? Filter : OrderBy;
            if (Type == UserConnectionType.Assisting)
            {
                if (Major != Guid.Empty || Industry != Guid.Empty)
                {
                    QueryData.SearchText += _smartCodes.First(x => x.Id == Industry).Label.ToString()
                                                      + _educationHistory.First(x => x.Id == Major).Name.ToString();
                }
            }
            else
            {
                if (Major != Guid.Empty || Industry != Guid.Empty || Interests != Guid.Empty)
                {
                    QueryData.SearchText += _smartCodes.First(x => x.Id == Industry).Label.ToString() 
                                                      + _educationHistory.First(x => x.Id == Major).Name.ToString()
                                                      + _interestsCodes.First(x => x.Id == Interests).Label.ToString();
                }
            }
            if (_debounceTimer != null)
                return;
            StartTimer();
        }
    }

    private Guid? Interests
    {
        get => QueryData.Interests ?? Guid.Empty;
        set
        {
            QueryData.Interests = value == Guid.Empty ? null : value;
            QueryData.SearchText = Interests == Guid.Empty ? Filter : _interestsCodes.First(x => x.Id == Interests).Label.ToString();
            if (Major != Guid.Empty || Industry != Guid.Empty)
            {
                QueryData.SearchText += _smartCodes.First(x => x.Id == Industry).Label.ToString() 
                                                  + _educationHistory.First(x => x.Id == Major).Name.ToString()
                                                  + OrderBy; 
            }
               
            if (_debounceTimer != null)
                return;
            StartTimer();
        }
    }

    private void ToggleSkill(Guid id)
    {
        if (_skills[id])
            QueryData.Skills.Remove(id);
        else
            QueryData.Skills.Add(id);
        _skills[id] = !_skills[id];
        if (_debounceTimer != null)
            return;
        StartTimer();
    }

    private void StartTimer()
    {
        _debounceTimer = new Timer(500);
        _debounceTimer.Elapsed += TimeElapsed;
        _debounceTimer.Enabled = true;
        _debounceTimer.Start();
    }

    private void TimeElapsed(object sender, EventArgs e)
    {
        _debounceTimer.Dispose();
        _debounceTimer = null;
        QueryData.Skip = 0;
        SearchService.Search();
    }
}

