@using ViewModels.Commands
@using Constants
@using Microsoft.Extensions.Logging
@using Portal.Blazor.Extensions
@using ViewModels.Dtos

@inject SmartTypesService SmartTypesService
@inject Blazored.Modal.Services.IModalService ModalService
@inject PartnerPlanService PartnerPlanService
@inject ILogger<OrganizationConfirmation> Logger

<div class="signup-confirmation container">
<h3 class="section-header">Please Check The Information Below</h3>
@if (!Transitioning)
{
    <div class="row mt-4">
        <div class="col">
            <h4 class="section-header">Business Admin Information</h4>
        </div>
        <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(SignupSection.AboutYou)">
            <Icon Name="IconName.Edit"/>
        </Button>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="profile-img-wrapper">
            <img src="@(ProfileImageData)" class="w-100"/>
        </div>
        <div class="col-12 col-sm d-flex flex-row flex-wrap p-0">
            <div class="col-6 col-sm-4 mb-2">
                <label>Full Name</label>
                <div>@Command.FirstName @Command.LastName</div>
            </div>
            <div class="col-6 col-sm-8 mb-2">
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Email</label>
                <div>@Command.EmailAddress</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Phone</label>
                <div>
                    @Command.Phone
                    @if (Command.PhoneKeepPrivate)
                    {
                        <span> (private)</span>
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="row mt-4">
    <div class="col">
        <h4 class="section-header">About Your @(AccountType == AccountType.Company ? "Company" : "Career Center")</h4>
    </div>
    <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(AccountType == AccountType.Company ? SignupSection.CompanyDetails : SignupSection.CareerCenterDetails)">
        <Icon Name="IconName.Edit"/>
    </Button>
</div>
<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="profile-img-wrapper">
        <img src="@(OrganizationImageData)" alt="Organization Image" class="w-100"/>
    </div>
    <div class="col-12 col-sm d-flex flex-row flex-wrap p-0">
        @if (AccountType == AccountType.Company)
        {
            <div class="col-6 col-sm-4 mb-2">
                <label>Company Name</label>
                <div>@CompanyClaim.Company.Name</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Company Website</label>
                <div>@Claim.Website</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Company Size</label>
                <div>@OrganizationSize</div>
            </div>
            <div class="col-4 mb-2">
                <label>Email</label>
                <div>@Claim.Email</div>
            </div>
            <div class="col-8 mb-2 word-break-all">
                <label>Description</label>
                <div>@Claim.Description</div>
            </div>
        }
        else if (AccountType == AccountType.CareerCenter)
        {
            <div class="col-6 col-sm-4 mb-2">
                <label>College / University</label>
                <div>@SchoolClaim.School.DisplayName</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Email Address</label>
                <div>@SchoolClaim.Email</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Institution Type</label>
                <div>@InstitutionType.Label</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Company Name</label>
                <div>@SchoolClaim.CareerCenterName</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>College / University Size</label>
                <div>@OrganizationSize</div>
            </div>
            <div class="col-6 col-sm-4 mb-2">
                <label>Career Center Website</label>
                <div>@Claim.Website</div>
            </div>
        }
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <h4 class="section-header">@(AccountType == AccountType.Company ? "Company" : "Career Center") Address</h4>
    </div>
    <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(AccountType == AccountType.Company ? SignupSection.CompanyDetails : SignupSection.CareerCenterDetails)">
        <Icon Name="IconName.Edit"/>
    </Button>
</div>
<div class="row">
    <div class="col-12 col-sm-4 d-flex d-sm-block flex-row justify-content-between">
        <label>Address</label>
        <div>@Claim.Address.Line1</div>
    </div>
    <div class="col-12 col-sm-4 d-flex d-sm-block flex-row justify-content-between">
        <label>City</label>
        <div>@Claim.Address.City</div>
    </div>
    @if (!IsInternational)
    {
        <div class="col-12 col-sm-4 d-flex d-sm-block flex-row justify-content-between">
            <label>State</label>
            <div>@State</div>
        </div>
        <div class="col-12 col-sm-4 d-flex d-sm-block flex-row justify-content-between">
            <label>Zip Code</label>
            <div>@Claim.Address.ZipCode</div>
        </div>
    }
    <div class="col-12 col-sm-4 d-flex d-sm-block flex-row justify-content-between">
        <label>Country</label>
        <div>@Country</div>
    </div>
    <div class="col-12 col-sm-4 d-flex d-sm-block flex-row justify-content-between">
        <label>Region</label>
        <div>@Region</div>
    </div>
</div>

@if (AccountType == AccountType.CareerCenter)
{
    <div class="row mt-4">
        <div class="col">
            <h4 class="section-header">Who We Are</h4>
        </div>
        <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(SignupSection.CareerCenterDetails)">
            <Icon Name="IconName.Edit"/>
        </Button>
    </div>
    <div class="row">
        <div class="col-12">
            <div>@SchoolClaim.WhoWeAre</div>
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col d-flex flex-row">
        <h4 class="section-header mr-4">YouTube Video</h4>
        <div>@Claim.VideoUrl</div>
    </div>
    <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(AccountType == AccountType.Company ? SignupSection.CompanyDetails : SignupSection.CareerCenterDetails)">
        <Icon Name="IconName.Edit"/>
    </Button>
</div>

<div class="row mt-4">
    <div class="col">
        <h4 class="section-header">Social Media</h4>
    </div>
    <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(AccountType is AccountType.Company ? SignupSection.CompanyDetails : SignupSection.CareerCenterDetails)">
        <Icon Name="IconName.Edit"/>
    </Button>
</div>
<div class="row">
    @foreach (var socialLink in Claim.SocialLinks)
    {
        <div class="col-5 my-2">
            <div class="input-group">
                <div class="input-group-prepend social-media" id="@_socialMedia[socialLink.Type].Label.ToLower()">
                    <img src="images/@(_socialMedia[socialLink.Type].Label.ToLower()).svg"/>
                </div>
                <TextEdit Text="@socialLink.Url" Disabled="true"/>
            </div>
        </div>
    }
</div>

@if (AccountType == AccountType.Company)
{
    <div class="row mt-4">
        <div class="col">
            <h4 class="section-header">Affinity Group</h4>
        </div>
        <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(SignupSection.CorporateDocuments)">
            <Icon Name="IconName.Edit"/>
        </Button>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 d-flex d-sm-block flex-row justify-content-between">
            <label>Name</label>
            <div>@CompanyClaim.AffinityGroupName</div>
        </div>
        <div class="col-12 col-sm-6 d-flex d-sm-block flex-row justify-content-between">
            <label>Website</label>
            <div>@CompanyClaim.AffinityGroupWebsite</div>
        </div>
        <div class="col-12 d-flex d-sm-block flex-row justify-content-between">
            <label>Description</label>
            <div>@CompanyClaim.AffinityGroupDescription</div>
        </div>
    </div>

    @if (CommitmentDocument != null)
    {
        <div class="row">
            <ChildWidget Title="Diversity & Inclusion Commitment" Class="col-12 pr-0">
                @if (!string.IsNullOrEmpty(CommitmentDocument.Url))
                {
                    <span>
                        <b>URL:&nbsp;</b><a href="@CommitmentDocument.Url" target="_blank">@CommitmentDocument.Url</a>
                    </span>
                }
                <div>
                    @CommitmentDocument.Description
                </div>
                @if (CommitmentDocument.File != null)
                {
                    <div class="col-12 d-flex flex-row">
                        <img src="images/pdf.svg"/>
                        <div class="ml-2">
                            <div>
                                @CommitmentDocument.File.FileName
                            </div>
                        </div>
                    </div>
                }
            </ChildWidget>
        </div>
    }
    @if (SocialJusticeDocument != null)
    {
        <div class="row">
            <ChildWidget Title="Highlights of Social Justice & Equity Policy & Practice" Class="col-12 pr-0">
                @if (!string.IsNullOrEmpty(SocialJusticeDocument.Url))
                {
                    <span>
                        <b>URL:&nbsp;</b><a href="@SocialJusticeDocument.Url" target="_blank">@SocialJusticeDocument.Url</a>
                    </span>
                }
                <div>
                    @SocialJusticeDocument.Description
                </div>
                @if (SocialJusticeDocument.File != null)
                {
                    <div class="col-12 d-flex flex-row">
                        <img src="images/pdf.svg"/>
                        <div class="ml-2">
                            <div>
                                @SocialJusticeDocument.File.FileName
                            </div>
                        </div>
                    </div>
                }
            </ChildWidget>
        </div>
    }
    @if (InclusionDocument != null)
    {
        <div class="row">
            <ChildWidget Title="Highlights of LGBTQ Inclusion Policy & Practices" Class="col-12 pr-0">
                @if (!string.IsNullOrEmpty(InclusionDocument.Url))
                {
                    <span>
                        <b>URL:&nbsp;</b><a href="@InclusionDocument.Url" target="_blank">@InclusionDocument.Url</a>
                    </span>
                }
                <div>
                    @InclusionDocument.Description
                </div>
                @if (InclusionDocument.File != null)
                {
                    <div class="col-12 d-flex flex-row">
                        <img src="images/pdf.svg"/>
                        <div class="ml-2">
                            <div>
                                @InclusionDocument.File.FileName
                            </div>
                        </div>
                    </div>
                }
            </ChildWidget>
        </div>
    }

    <div class="row mt-4">
        <div class="col d-flex flex-row">
            <h4 class="section-header mr-4">Work Authorizations Accepted By Your Company</h4>
            @if (true)
            {
                ListAccepted = null;
            }
            @foreach (var item in CompanyClaim.AcceptedWorkAuthorizations)
            {
                switch (item.WorkAuthorization)
                {
                    case WorkAuthorizationType.Other:
                        ListAccepted += " " + @CompanyClaim.WorkAuthorizationOther + ",";
                        break;
                    case WorkAuthorizationType.F1Visa:
                        ListAccepted += " Student Visa,";
                        break;
                    case WorkAuthorizationType.J1Visa:
                        ListAccepted += " Exchange Program,";
                        break;
                    case WorkAuthorizationType.UsCitizen:
                        ListAccepted += " US Citizen,";
                        break;
                    case WorkAuthorizationType.H1BVisa:
                        ListAccepted += " Professional Work Visa,";
                        break;
                }
            }
            @if (ListAccepted != null)
            {
                int index = ListAccepted.LastIndexOf(',');
                <div class="m-1">@ListAccepted.Remove(index, 1)</div>
            }
        </div>
        <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(SignupSection.WorkAuthorization)">
            <Icon Name="IconName.Edit"/>
        </Button>
    </div>
}

@if (AccountType is AccountType.CareerCenter)
{
    if (DiversityDocument != null)
    {
        <div class="row">
            <ChildWidget Title="Diversity & Inclusion Commitment" Class="col-12 pr-0">
                @if (!string.IsNullOrEmpty(DiversityDocument.Url))
                {
                    <span>
                        <b>URL:&nbsp;</b><a href="@DiversityDocument.Url" target="_blank">@DiversityDocument.Url</a>
                    </span>
                }
                <div>
                    @DiversityDocument.Description
                </div>
                @if (DiversityDocument.File != null)
                {
                    <div class="col-12 d-flex flex-row">
                        <img src="images/pdf.svg"/>
                        <div class="ml-2">
                            <div>
                                @DiversityDocument.File.FileName
                            </div>
                        </div>
                    </div>
                }
            </ChildWidget>
        </div>
    }
    if (StudentOfferingsDocument != null)
    {
        <div class="row">
            <ChildWidget Title="What Your Career Center Offers LGBTQ Students" Class="col-12 pr-0">
                @if (!string.IsNullOrEmpty(StudentOfferingsDocument.Url))
                {
                    <span>
                        <b>URL:&nbsp;</b><a href="@StudentOfferingsDocument.Url" target="_blank">@StudentOfferingsDocument.Url</a>
                    </span>
                }
                <div>
                    @StudentOfferingsDocument.Description
                </div>
                @if (StudentOfferingsDocument.File != null)
                {
                    <div class="col-12 d-flex flex-row">
                        <img src="images/pdf.svg"/>
                        <div class="ml-2">
                            <div>
                                @StudentOfferingsDocument.File.FileName
                            </div>
                        </div>
                    </div>
                }
            </ChildWidget>
        </div>
    }
}

<div class="row mt-4">
    <div class="col">
        <h4 class="section-header">Your Selected Partnership Level</h4>
    </div>
    <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(SignupSection.PlanSelection)">
        <Icon Name="IconName.Edit"/>
    </Button>
</div>
<div class="row mt-4">
    <div class="col-12 my-2">
        <PartnerPlanLineItem PartnerPlan="ActivePlan"/>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <h4 class="section-header">Applied Discounts</h4>
    </div>
    <Button Color="Color.Primary" Outline="true" Class="edit-btn" @onclick="() => OnNavigate.InvokeAsync(SignupSection.PlanSelection)">
        <Icon Name="IconName.Edit"/>
    </Button>
</div>
<div class="row flex-row mt-4 discount-summary align-items-center">
    <i class="fa fa-2x fa-check col-1"/>
    @if (Claim.Discount?.Id != Guid.Empty)
    {
        <h4 class="col-3 m-0">@Claim.Discount.Code</h4>
        <h4 class="col-4 m-0">@Claim.Discount.Description</h4>
        <h4 class="col-4 m-0 d-flex justify-content-end">@Claim.Discount.ApplyDiscount(ActivePlan.CurrentPrice.SalePrice ?? ActivePlan.CurrentPrice.BasePrice).ToString("C")</h4>
    }
    else
    {
        <h4 class="col-8 m-0">No Discounts Applied</h4>
        <h4 class="col-3 m-0 d-flex justify-content-end">$0.00</h4>
    }
</div>

<div class="my-2 d-flex justify-content-end align-items-baseline" id="total">
    <h4 class="pr-1">Total: </h4>
    <h4 class="m-0 mr-4 pr-1">@GetTotal().ToString("C")</h4>
</div>

<div class="flex-1"></div>
<div class="d-flex flex-row align-items-center justify-content-between">
    <Button TextColor="TextColor.Primary" @onclick="OnPrev" Class="px-4 py-1"> <i class="fas fa-arrow-left mr-2"></i> Previous Step</Button>
    <Button Color="Color.Primary" TextColor="TextColor.White" @onclick="HandleNext" Class="px-5 py-1" Disabled="@_loading">
        @if (_loading)
        {
            <div class="spinner-border mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        Next <i class="fas fa-arrow-right ml-2"></i>
    </Button>
</div>
</div>

@code
{
        private const string DefaultProfileIcon = "images/company_profile_default.svg";

    private static readonly Dictionary<string, string> MultiSelectionHeaders = new()
    {
        {CompanyMultiselectFields.JobIndustry, "Company Job Industry"},
        {CompanyMultiselectFields.CandidateJobIndustry, "Types of Career Candidates Looking For"}
    };

    [CascadingParameter]
    public AccountType AccountType { get; set; }

    [Parameter]
    public RegisterOrganizationCommand Command { get; set; }

    [Parameter]
    public EventCallback OnPrev { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public EventCallback<SignupSection> OnNavigate { get; set; }

    [Parameter]
    public bool Transitioning { get; set; }

    private string ListAccepted { get; set; }

    private bool _loading = false;
    private List<SmartCodeDto> _organizationSizes = new();
    private List<SmartCodeDto> _states = new();
    private List<SmartCodeDto> _countries = new();
    private List<SmartCodeDto> _regions = new();
    private List<SmartCodeDto> _schoolSizes = new();
    private List<SmartCodeDto> _institutionTypes = new();
    private List<PartnerPlanDto> _partnerPlans = new();
    private Dictionary<Guid, SmartCodeDto> _socialMedia = new();

    private string OrganizationImageData => AccountType switch 
    {
        AccountType.Company => Claim.Logo?.ToDataString() ?? DefaultProfileIcon,
        AccountType.CareerCenter => Claim.Logo?.ToDataString() ?? DefaultProfileIcon,
        };

    private string ProfileImageData => Command.ProfileImage == null
        ? DefaultProfileIcon
        : Command.ProfileImage.ToDataString();

    private BaseOrganizationClaimDto Claim => AccountType switch
    {
        AccountType.Company => (Command as RegisterCompanyCommand).Claim,
        AccountType.CareerCenter => (Command as RegisterCareerCenterCommand).Claim
        };

    private CompanyClaimDto CompanyClaim => Claim as CompanyClaimDto;
    private SchoolClaimDto SchoolClaim => Claim as SchoolClaimDto;

    private string OrganizationUnit => AccountType switch 
    {
        AccountType.Company => "Employees",
        AccountType.CareerCenter => "Students"
        };

    private SmartCodeDto Size => AccountType switch 
    {
        AccountType.Company => _organizationSizes.FirstOrDefault(x => x.Id == Claim.OrganizationSize),
        AccountType.CareerCenter => _schoolSizes.FirstOrDefault(x => x.Id == Claim.OrganizationSize),
        };

    private PartnerPlanDto ActivePlan => _partnerPlans.FirstOrDefault(x => x.Id == Claim?.PartnerPlan);
    private SmartCodeDto InstitutionType => _institutionTypes.FirstOrDefault(x => x.Id == SchoolClaim.InstitutionType);
    private CompanyDocumentDto CommitmentDocument => CompanyClaim.Documents[CompanyDocumentType.Commitment];
    private CompanyDocumentDto InclusionDocument => CompanyClaim.Documents[CompanyDocumentType.Inclusion];
    private CompanyDocumentDto SocialJusticeDocument => CompanyClaim.Documents[CompanyDocumentType.SocialJustice];
    private CareerCenterDocumentDto StudentOfferingsDocument => SchoolClaim.Documents[CareerCenterDocumentType.StudentOfferings];
    private CareerCenterDocumentDto DiversityDocument => SchoolClaim.Documents[CareerCenterDocumentType.DiversityAndInclusionCommitment];

    private string OrganizationSize => $"{Size.Label} {OrganizationUnit}";
    private string State => _states.FirstOrDefault(x => x.Id == Claim.Address.State)?.Label;
    private string Country => _countries.FirstOrDefault(x => x.Id == Claim.Address.Country)?.Label;
    private string Region => _regions.FirstOrDefault(x => x.Id == Claim.Address.Region)?.Label;
    private bool IsInternational => Claim.Address.Region == (_regions?.FirstOrDefault(x => x.Code == "INT")?.Id ?? Guid.NewGuid());

    protected override void OnInitialized()
    {
        SmartTypesService[SmartTypes.OrganizationSize].Subscribe(smartCodes =>
        {
            _organizationSizes = smartCodes;
            StateHasChanged();
        });
        SmartTypesService[SmartTypes.State].Subscribe(smartCodes =>
        {
            _states = smartCodes;
            StateHasChanged();
        });
        SmartTypesService[SmartTypes.Country].Subscribe(smartCodes =>
        {
            _countries = smartCodes;
            StateHasChanged();
        });
        SmartTypesService[SmartTypes.SocialMedia].Subscribe(smartCodes =>
        {
            _socialMedia = smartCodes.ToDictionary(x => x.Id);
            StateHasChanged();
        });
        SmartTypesService[SmartTypes.Region].Subscribe(smartCodes =>
        {
            _regions = smartCodes;
            StateHasChanged();
        });
        SmartTypesService[SmartTypes.SchoolSize].Subscribe(smartCodes =>
        {
            _schoolSizes = smartCodes;
            StateHasChanged();
        });
        SmartTypesService[SmartTypes.InstitutionType].Subscribe(smartCodes =>
        {
            _institutionTypes = smartCodes;
            StateHasChanged();
        });
        var requestId = Guid.NewGuid();
        Logger.LogInformation($"Discount Id: {Claim.Discount.Id} : {requestId}");

        var planType = AccountType switch {
            AccountType.Company => PlanType.Company,
            AccountType.CareerCenter => PlanType.CareerCenter
            };

        PartnerPlanService[planType].Subscribe(partnerPlans =>
        {
            var requestId = Guid.NewGuid();
            var nullString = _partnerPlans == null ? string.Empty : "not ";
            Logger.LogInformation($"Pre-Load: _partnerPlans is {nullString}null : RequestId - {requestId}");
            _partnerPlans = partnerPlans?.Where(x => x.CurrentPrice != null).OrderBy(x => x.DisplayOrder).ToList();
            nullString = _partnerPlans == null ? string.Empty : "not ";
            Logger.LogInformation($"Post-Load: _partnerPlans is {nullString}null : RequestId - {requestId}");
            Logger.LogInformation($"_partnerPlans count is {_partnerPlans?.Count.ToString() ?? "null"} : RequestId - {requestId}");
            StateHasChanged();
        });
    }

    private decimal GetTotal()
    {
        var price = ActivePlan == null ? 0 : ActivePlan.CurrentPrice.SalePrice ?? ActivePlan.CurrentPrice.BasePrice;
        var discount = Claim.Discount;
        return discount?.ApplyDiscount(price) ?? price;
    }

    private void HandleNext()
    {
        _loading = true;
        StateHasChanged();
        OnNext.InvokeAsync();
    }
}

